@font-face {
    font-family: "Rockstar";
    src: url("fonts/Rockstar-ExtraBold.otf");
}

@font-face {
    font-family: "Archia";
    src: url("fonts/Archia-Regular.otf");
}

@font-face {
    font-family: "Okomito";
    src: url("fonts/Okomito-Medium.otf");
}

@font-face {
    font-family: "Lack";
    src: url("fonts/Lack-Regular.otf");
}

@font-face {
    font-family: "Kompot";
    src: url("fonts/KompotSans-ow00A.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

body {
    background-color: #151515;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

.container_1 {
    margin-top: 20vh;
    background-color: #151515;
    width: 50vw;
    float:  left;
    height: 110vh;
    overflow: hidden;
    display: inline-block;
}

.container_1_2 {
    margin-top: 20vh;
    background-color: #151515;
    width: 50vw;
    float:  right;
    height: 110vh;
    overflow: hidden;
    display: inline-block;
}
.title {
    margin-top: 35vh;
    font-size: 6vw;
    font-family: "Rockstar";
    color: black;
    


}

.text {
    width: 50vw;
    color: white;
    font-family: "Okomito";
    font-size: 1vw;
    margin-left: 1.5vw;
    margin-top: 5vh;
        overflow: hidden;

}

::-webkit-scrollbar {
    display: none;
}

.image {
    margin-top: 32.5vh;
    margin-left: 50vw;
}

.first_letter {
    font-family: "Okomito";
    font-size: 10vw;
    color:  white;
    float:  right;
    overflow: hidden;
}

.container_2 {
    width: 30vw;
    margin-top: 5vh;
    height: 70vh;
    display: inline-block;
    overflow: hidden;
    float: left;


}

.container_3 {
    width: 70vw;
    height: 70vh;
     margin-top: 5vh;
    display: inline-block;
    overflow: hidden;
    float:  right;
}

.lithuanian {
    margin-top: 35vh;
font-family: "Kompot";
    font-size: 5vw;
    color:  white;
    display: inline-block;
    margin-left: 6vw;
    padding: 5px;
    line-height: 5vw;
}

.lithuanian3 {
    margin-top: 17vh;
font-family: "Kompot";
    font-size: 5vw;
    color:  white;
    display: inline-block;
    margin-left: 12vw;
    padding: 5px;
    line-height: 5vw;
}


.container_4 {
    width: 50vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    float: left;


}

.container_5{
    width: 50vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    float:  right;
}

.container_6 {
        width: 50vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    float: left;
}

.container_7 {
        width: 50vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    float:  right;
}

.lithuanian2 {
        margin-top: 27.5vh;
font-family: "Kompot";
    font-size: 5vw;
    color:  white;
    display: inline-block;
    margin-left: 17.5vw;
        line-height: 5vw;
}

.container_8 {
    overflow: hidden;
    width: 100vw;
    height: 67vh;

}

.container_10 {
        overflow: hidden;
    width: 50vw;
    height: 70vh;
    display: inline-block;
    float: left;
}

.container_11 {
        overflow: hidden;
    width: 50vw;
    height: 70vh;
    display: inline-block;
    float:  right;
}

.lithuanian5 {
            margin-top: 35vh;
font-family: "Kompot";
    font-size: 4vw;
    color:  white;
    display: inline-block;
    margin-left: 15vw;
        line-height: 5vw;
}

.lithuanian6 {
            margin-top: 37.5vh;
font-family: "Kompot";
    font-size: 4vw;
    color:  white;
    display: inline-block;
    margin-left: 15vw;
        line-height: 5vw;
}
/* Variables
   ================================ */
/* Base
   ================================ */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Main
   ================================ */
.box {
  float: right;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: auto;
}

.play-button {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  background: #151515;
  cursor: pointer;
}
.play-button input[type=checkbox] {
  display: none;
}
.play-button input[type=checkbox]:checked ~ span::before, .play-button input[type=checkbox]:checked ~ span::after {
  border: 20px solid transparent;
  border-left: 40px solid #fff;
  border-right: 0;
}
.play-button input[type=checkbox]:checked ~ span::after {
  transform: translateY(-50%) scaleY(0.5);
}
.play-button span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}
.play-button span::before, .play-button span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  border: 0 solid transparent;
  border-left: 16px solid #fff;
  transition: all 0.4s ease;
}
.play-button span::before {
  left: 0;
}
.play-button span::after {
  right: 0;
}

.container_12 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
